<h1>Listing photos</h1>

<table>
<% @albums.each do |album| %>
  <% photos = Photo.find_all_by_album_id(album.id) %>
  <% photos.each do |photo| %>
	<tr>
	  <td><%= photo.title %></td>
	  <td id="table_image"><%= image_tag photo.picture.url %>
	  <td><%= link_to 'Select as Profile Picture', edit_photo_path(photo, :view_id => params[:view_id]) %></td>
	</tr>
  <% end %>
<% end %>
</table>



