#twit_nav {
	background-color: #dddddd;
	border-bottom:solid;
}

#twit_nav > img {
	
	height: auto;
	width: auto;
}

#table_image > img {
	height: 150px;
	width: auto;
}

body {
	background-color: #99ffcc;
}